<div class="container mx-auto">
 
   <div class="flex flex-row justify-between items-center mx-4">
    <h1 class="text-3xl font-bold"> <span class="text-red-400 text-4xl font-extrabold ">BOOK</span> Store</h1>
    <nav class="flex flex-row gap-4"  >
        <a class="bg-gray-400 px-4 p-1 rounded-xl text-white"routerLink="/" routerLinkActive="active">Book</a>
        <a class="bg-gray-400 px-4 p-1 rounded-xl text-white"routerLink="/author" routerLinkActive="active">Author</a>
        <a class="bg-gray-400 px-4 p-1 rounded-xl text-white"routerLink="/publisher" routerLinkActive="active">Publisher</a>
    </nav>
  </div>

  <router-outlet>
  </router-outlet>

</div>